<p id="notice"><%= notice %></p>

<p>
  <strong>Vision:</strong>
  <%= @project.vision %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Starred:</strong>
  <%= @project.starred %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
